Repository DFE-Digital/content-prototype: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, bundle exec rubocop --fix-layout, bundle exec lint-staged

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.css": "stylelint --fix",
  "*.rb": "bundle exec rubocop --fix-layout",
  "*.slim": "bundle exec lint-staged"
}

Update / “get-help-with-technology-for-remote-education-1”
  content/get-help-with-technology-for-remote-education-1.gs
Due: none

Update file with new content
  content/remote-teaching/safeguarding-and-remote-teaching-during-the-coronavirus.gs
Due: none

Update content/remote-teaching/safeguarding-and-remote-teaching-during-the-coronavirus.gs
  content/remote-teaching/safeguarding-and-remote-teaching-during-the-coronavirus.gs
Due: none

Fix some link formatting and remove trailing space
  content/remote-teaching/safeguarding-and-remote-teaching-during-the-coronavirus.gs
Due: none

update scripts for remote learning prototype
  cypress/integration/RemoteLearningPrototype.tests.js
Due: eslint --cache --fix

Update package-lock.json
  package-lock.json
Due: none

Safeguarding and remote teaching
  content/teachers/safeguarding-and-remote-teaching
Due: none

updating PR comments
  cypress/integration/RemoteLearningPrototype.tests.js
  cypress/support/commands.js
Due: eslint --cache --fix

Update safeguarding-and-remote-teaching.gs
  content/teachers/safeguarding-and-remote-teaching.gs
Due: none

PR commnets update
  cypress/integration/RemoteLearningPrototype.tests.js
Due: eslint --cache --fix

script change as per PR comments
  cypress/integration/RemoteLearningPrototype.tests.js
  cypress/support/commands.js
Due: eslint --cache --fix

Update and repurpose supporting child education page
  content/index.slim
  content/supporting-your-childrens-education-during-coronavirus-COVID-19.gs
  content/supporting-your-childrens-learning-during-coronavirus-COVID-19.gs
Due: bundle exec lint-staged

Standardise naming and add ages 2-4 page
  content/index.slim
  content/supporting-your-childrens-education-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
Due: bundle exec lint-staged

Add content for children aged 2-4 page
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
Due: none

Add primary school children page
  content/supporting-your-childrens-education-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-primary-school-children-learn-at-home-during-coronavirus.gs
Due: none

Add content for SEND children page
  content/supporting-your-childrens-education-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-children-with-send-learn-at-home-during-coronavirus.gs
Due: none

Add previous/next pagination links
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-children-with-send-learn-at-home-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-primary-school-children-learn-at-home-during-coronavirus.gs
Due: none

Add 'supporting your children' to Netlify config
  content/admin/config.yml
Due: none

Update all teacher pages for temporary release this sunday
  content/teachers/help-with-technology.gs
  content/teachers/safeguarding-and-remote-teaching.gs
  content/teachers/teaching-during-the-coronavirus-outbreak.gs
  layouts/partials/teacher_contents.slim
Due: bundle exec lint-staged

make false contents panel
  content/teachers/help-with-technology.gs
  content/teachers/preparing-to-teach-during-the-coronavirus-outbreak.gs
  content/teachers/safeguarding-and-remote-teaching.gs
  content/teachers/scheduling-the-school-day-during-coronavirus.gs
  content/teachers/teaching-during-the-coronavirus-outbreak.gs
  content/teachers/whats-expected-of-teachers-during-coronavirus.gs
Due: none

Update teachers.gs
  content/teachers.gs
Due: none

Fix broken link
  content/supporting-your-childrens-education-during-coronavirus.gs
Due: none

Update 'can I send my child to school' section
  content/supporting-your-childrens-education-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-primary-school-children-learn-at-home-during-coronavirus.gs
Due: none

Shorten advice list and add socialising section
  content/supporting-your-childrens-education-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
Due: none

Ensure internal links end in a /
  content/supporting-your-childrens-education-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-children-with-send-learn-at-home-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-primary-school-children-learn-at-home-during-coronavirus.gs
Due: none

Update /teachers “help-with-technology”
  content/teachers/help-with-technology.gs
Due: none

Update / “teachers”
  content/teachers.gs
Due: none

Create /teachers “safeguarding-and-remote-teaching-during-coronavirus-covid-19”
  content/teachers/safeguarding-and-remote-teaching-during-coronavirus-covid-19.gs
Due: none

Add some lines around parent section links
  content/supporting-your-childrens-education-during-coronavirus.gs
  content/teachers.gs
Due: none

Add a notice that the page is going to be updated
  content/supporting-your-childrens-education-during-coronavirus.gs
Due: none
