Repository DFE-Digital/content-prototype: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, bundle exec rubocop --fix-layout, bundle exec lint-staged

Link pages from wrapper page
  content/curriculum/curriculum-ma.gs
Due: none

Link the navigational hierarchy
  content/curriculum/curriculum-ma.gs
  content/curriculum/primary/maths/develop-core-number-skills.slim
  content/curriculum/primary/maths/identifying-shapes-and-its-properties.slim
  content/curriculum/primary/reception.slim
  content/curriculum/primary/year2.slim
Due: bundle exec lint-staged

Add topic heading to the section
  content/curriculum-map.slim
  content/curriculum/primary/maths/identifying-shapes-and-its-properties.slim
  layouts/partials/phase-banner.slim
Due: bundle exec lint-staged

Add headings to the subsequent pages
  content/curriculum/primary/year2.slim
Due: bundle exec lint-staged

Update the guidance text on curriculum map
  content/curriculum/curriculum-ma.gs
Due: none

Add anchor link to the sequenced interactive model
  content/curriculum/curriculum-ma.gs
Due: none

Update v3 for content UR testing
  content/admin/govspeak-common.js
  content/case-studies/maintaining-enrichment-and-extracurricular-activities-for-unconnected-secondary-pupils.gs
  content/case-studies/offering-online-enrichment-and-extracurricular-activities-to-primary-pupils.gs
  content/case-studies/supporting-enrichment-and-extracurricular-activities-remotely.gs
  content/remote-teaching/adapting-the-curriculum-for-remote-education.gs
  content/remote-teaching/ensuring-wellbeing-and-engagement-at-a-distance/online-and-offline-approaches-to-providing-home-learning.gs
  content/remote-teaching/examples-of-teaching-practice-during-coronavirus.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/decide-what-to-teach-during-a-phased-return.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/identify-gaps-in-pupils-understanding.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/identifying-and-addressing-gaps-in-pupils-understanding.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/make-the-most-of-reduced-classroom-time.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/pastoral-care-in-the-curriculum-as-schools-return.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/pastoral-care-in-the-curriculum.gs
  content/remote-teaching/teaching-and-ensuring-wellbeing-at-a-distance/adapt-the-curriculum-for-remote-education.gs
  content/remote-teaching/teaching-and-ensuring-wellbeing-at-a-distance/online-and-offline-approaches-to-remote-teaching.gs
  content/remote-teaching/teaching-and-ensuring-wellbeing-at-a-distance/pupil-engagement-and-motivation.gs
  content/remote-teaching/teaching-and-ensuring-wellbeing-at-a-distance/remote-enrichment-and-extracurricular-experiences.gs
  content/remote-teaching/teaching-and-ensuring-wellbeing-at-a-distance/supporting-staff-and-pupil-wellbeing.gs
Due: eslint --cache --fix

Update the hyperlink text on Remote enrichment chapter
  content/remote-teaching/teaching-and-ensuring-wellbeing-at-a-distance/remote-enrichment-and-extracurricular-experiences.gs
Due: none

Create reception - maths curriculum
  Rules
  content/css/application.scss
  content/curriculum/curriculum-ma.gs
  content/curriculum/primary/maths/identifying-shapes-and-its-properties.slim
  content/curriculum/primary/reception.gs
  content/curriculum/primary/reception/maths.slim
  content/curriculum/primary/year2.gs
  content/curriculum/primary/year2.slim
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/decide-what-to-teach-during-a-phased-return.gs
  layouts/curriculum-year-group-subject.slim
  layouts/curriculum-year-group.slim
Due: bundle exec lint-staged

Update the maths section
  content/curriculum/primary/reception/maths.slim
Due: bundle exec lint-staged

Update the maths page
  content/admin/govspeak-common.js
  content/curriculum/primary/reception/maths.slim
  layouts/partials/accordion__section.slim
Due: eslint --cache --fix, bundle exec lint-staged

Connect the pages to link to maths
  content/curriculum/primary/reception.gs
Due: none

Create new homepage for testing with the updated links from Adam
  Rules
  content/education-childcare.slim
Due: bundle exec lint-staged

Create collection page and link curriculum map
  content/curriculum/curriculum-map.gs
  content/guidance-for-schools-coronavirus-covid-19.gs
  layouts/govspeak.slim
Due: bundle exec lint-staged

Update the link of collection page
  content/guidance-for-schools-coronavirus-covid-19.gs
Due: none

Create new wrapper page and subsequent pages
  content/curriculum-map-help-for-schools-for-2020-2021-academic-year.gs
  content/curriculum-map-help-for-schools-for-2020-2021-academic-year/curriculum-map-science.gs
  content/curriculum-planning-for-both-school-and-home-settings.gs
  content/curriculum/curriculum-map.gs
  content/ensuring-wellbeing-and-engagement-at-a-distance.gs
  content/guidance-for-schools-coronavirus-covid-19.gs
  content/images/primary-science-ks1-ks2.png
  content/not-in-use-curriculum/primary/not-in-use-reception.gs
  content/not-in-use-curriculum/primary/not-in-use-reception/not-in-use-maths.slim
  content/not-in-use-curriculum/primary/not-in-use-year2.gs
  content/pdf/primary-science-ks1-ks2.pdf
  content/pdf/test-pdf.pdf
  content/remote-teaching.gs
  content/support-years-10-and-12-to-continue-to-learn-during-coronavirus-covid-19-1.gs
  content/supporting-your-childrens-education-during-coronavirus.gs
  layouts/govspeak.slim
Due: bundle exec lint-staged

Create new pages from collection page linking to curriculum map and its subsequent pages
  content/guidance-for-schools-coronavirus-covid-19.gs
Due: none

Fix pdf links that are not working
  content/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year/curriculum-map-history.gs
  content/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year/curriculum-map-primary-science.gs
  content/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year/curriculum-map-science.gs
Due: none

Modify the content for UR
  content/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year/curriculum-map-history.gs
  content/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year/curriculum-map-primary-science.gs
  content/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year/curriculum-map-science.gs
  content/education-and-childcare/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year.gs
Due: none

Update the wrapper page
  content/education-and-childcare/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year.gs
Due: none

Add further updates on wrapper page
  content/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year/curriculum-map-history.gs
  content/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year/curriculum-map-mathematics.gs
  content/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year/curriculum-map-primary-science.gs
  content/education-and-childcare/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year.gs
Due: none

Fix the wrapper page update
  content/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year/curriculum-map-art.gs
Due: none

Tidy up the prototype
  content/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year/curriculum-map-art.gs
  content/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year/curriculum-map-history.gs
  content/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year/curriculum-map-primary-science.gs
  content/curriculum-map-a-resource-for-schools-for-the-2020-to-2021-academic-year/curriculum-map-science.gs
  content/curriculum-map.slim
Due: bundle exec lint-staged

Path conditions:
  eslint --cache --fix: any of: *.js
  stylelint --fix: any of: *.css
  bundle exec rubocop --fix-layout: any of: *.rb
  bundle exec lint-staged: any of: *.slim
