Repository DFE-Digital/content-prototype: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, bundle exec rubocop --fix-layout, bundle exec lint-staged

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.css": "stylelint --fix",
  "*.rb": "bundle exec rubocop --fix-layout",
  "*.slim": "bundle exec lint-staged"
}

test push function to see if everything is working
  content/teachers.gs
Due: none

Tidy up the remote education during coronavirus page and update the breadcrumb to relfect user journey
  content/case-studies/one.gs
  content/education-and-childcare.gs
  content/education-and-childcare/teachers.gs
  content/teachers.gs
  layouts/govspeak.slim
Due: bundle exec lint-staged

link the remote education during coronavirus page from landing page
  content/index.slim
Due: bundle exec lint-staged

update remote education practice during coronavirus with additional style changes on layout
  content/css/application.scss
  content/education-and-childcare/teachers.gs
  content/index.slim
  content/remote-teaching/remote-education-practice-for-schools-during-coronavirus.gs
  layouts/case-study.slim
  layouts/coronavirus.slim
  layouts/govspeak.slim
  layouts/partials/coronavirus-arrow.slim
Due: bundle exec lint-staged

Downgrade sassc
  Gemfile
  Gemfile.lock
Due: none

Disable cypress test run
  .github/workflows/test.yml
Due: none

Remove cypress
  .github/workflows/build-test-deploy.yml
  .github/workflows/test.yml
  README.md
  cypress.json
  cypress/.eslintrc.js
  cypress/fixtures/example.json
  cypress/integration/Help-children-with-send-learn-at-home-during-coronavirus.test.js
  cypress/integration/Help-primary-school-children-learn-at-home-during-coronavirus.test.js
  cypress/integration/HelpChildrenAged-2-to-4-to-Learn-at-Home-DuringCoronaVirus.test.js
  cypress/integration/HelpWithTechnologyPage.test.js
  cypress/integration/Homepage.test.js
  cypress/integration/SafeguardingAndRemoteTeachingDuringCoronaVirus.test.js
  cypress/integration/SupportingChildrensEducationPage.test.js
  cypress/integration/TeachersPage.test.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  jsconfig.json
  package-lock.json
  package.json
Due: eslint --cache --fix

Rename github action
  .github/workflows/build-deploy.yml
Due: none

Remove linting cypress
  .eslintrc.js
Due: eslint --cache --fix

Adds part of banner to case studies
  content/css/application.scss
  layouts/case-study.slim
  layouts/partials/part-of-banner.slim
Due: bundle exec lint-staged

Add file to eslintignore
  .eslintignore
Due: none

Move setting margin into partial
  layouts/case-study.slim
  layouts/default.slim
  layouts/partials/part-of-banner.slim
Due: bundle exec lint-staged

Adds covid banner
  content/css/_covid_bar.scss
  content/css/application.scss
  layouts/govspeak.slim
  layouts/partials/covid_bar.slim
  layouts/partials/header.slim
Due: bundle exec lint-staged

Use partial for case study covidbar
  layouts/case-study.slim
Due: bundle exec lint-staged

Bump the 'explore the topic' link size
  content/css/application.scss
Due: none

update the sub chapter pages
  content/case-studies/adapting-the-secondary-curriculum-across-multiple-subjects.gs
  content/case-studies/supporting-primary-and-secondary-pupils-wellbeing-at-a-multi-academy-trust.gs
  content/css/application.scss
  content/education-and-childcare/teachers.gs
  content/remote-teaching/adapting-teaching-practice-for-remote-education.gs
  content/remote-teaching/adapting-teaching-practise-for-remote-education.slim
  content/remote-teaching/adapting-the-curriculum-for-remote-education.gs
  content/remote-teaching/adapting-the-curriculum-for-remote-education.slim
  content/remote-teaching/keeping-pupils-motivated-and-engaged.gs
  content/remote-teaching/keeping-pupils-motivated-and-engaged.slim
  content/remote-teaching/remote-education-practice-for-schools-during-coronavirus.gs
  content/remote-teaching/supporting-wellbeing.gs
  content/remote-teaching/supporting-wellbeing.slim
  dist/css/all-ie8.css
  dist/css/all-ie8.css.map
  dist/css/all.css
  dist/css/all.css.map
  layouts/case-study.slim
  layouts/govspeak.slim
Due: stylelint --fix, bundle exec lint-staged

Fix covid banner for large screens
  content/css/_covid_bar.scss
  layouts/partials/covid_bar.slim
Due: bundle exec lint-staged

add inset text to show updates on content
  content/education-and-childcare/remote-education-during-coronavirus.gs
  content/index.slim
  content/remote-teaching/remote-education-practice-for-schools-during-coronavirus.gs
Due: bundle exec lint-staged

Add prepare reception guidance
  content/teachers/prepare-reception-children-to-start-year-1-during-coronavirus.gs
  layouts/govspeak.slim
Due: bundle exec lint-staged

remove call to action
  content/teachers/prepare-reception-children-to-start-year-1-during-coronavirus.gs
Due: none

Add table of contents
  content/teachers/prepare-reception-children-to-start-year-1-during-coronavirus.gs
Due: none

update the remote education content and its sub chapters with new titles and related links
  content/remote-teaching/adapting-teaching-practice-for-remote-education.gs
  content/remote-teaching/adapting-the-curriculum-for-remote-education.gs
  content/remote-teaching/keeping-pupils-motivated-and-engaged.gs
  content/remote-teaching/remote-education-practice-for-schools-during-coronavirus.gs
  content/remote-teaching/supporting-wellbeing.gs
Due: none

Update the content with new titles and update related links
  content/remote-teaching/keeping-pupils-motivated-and-engaged.gs
Due: none

using a test page to update the commit
  content/remote-teaching/test.gs
Due: none

Update the landing page with core section chapters
  content/curriculum-planning-for-both-school-and-home-settings.gs
  content/education-and-childcare/remote-education-during-coronavirus.gs
  content/education-and-childcare/teaching-during-coronavirus.gs
  content/ensuring-wellbeing-and-engagement-at-a-distance.gs
  content/index.slim
  content/remote-teaching/curriculum-planning-for-both-school-and-home-settings/deciding-what-to-teach-during-a-phased-return.gs
  content/remote-teaching/curriculum-planning-for-both-school-and-home-settings/planning-a-curriculum-for-home-learning.gs
  content/remote-teaching/curriculum-planning-for-both-school-and-home-settings/supporting-staff-in-curriculum-planning-for-a-phased-return.gs
  content/remote-teaching/ensuring-wellbeing-and-engagement-at-a-distance/keeping-pupils-motivated-and-engaged-when-working-remotely.gs
  content/remote-teaching/ensuring-wellbeing-and-engagement-at-a-distance/online-and-offline-approaches-to-providing-home-learning.gs
  content/remote-teaching/ensuring-wellbeing-and-engagement-at-a-distance/supporting-wellbeing-at-a-distance.gs
  content/remote-teaching/keeping-pupils-motivated-and-engaged.gs
  content/remote-teaching/remote-education-practice-for-schools-during-coronavirus.gs
  content/remote-teaching/teaching-in-school-and-at-home-settings-during-coronavirus.gs
  content/remote-teaching/test.gs
Due: bundle exec lint-staged

Update the landing page and all it's sub chapters along with a version 2 for A/B test landing page
  content/education-and-childcare/teaching-during-coronavirus.gs
  content/index.slim
  content/remote-teaching/curriculum-planning-for-both-school-and-home-settings/deciding-what-to-teach-during-a-phased-return.gs
  content/remote-teaching/curriculum-planning-for-both-school-and-home-settings/enhancing-pastoral-care-in-the-curriculum.gs
  content/remote-teaching/curriculum-planning-for-both-school-and-home-settings/identifying-and-addressing-gaps-in-pupils-understanding.gs
  content/remote-teaching/curriculum-planning-for-both-school-and-home-settings/making-the-most-of-reduced-classroom-time.gs
  content/remote-teaching/curriculum-planning-for-both-school-and-home-settings/planning-a-curriculum-for-home-learning.gs
  content/remote-teaching/curriculum-planning-for-both-school-and-home-settings/supporting-staff-in-curriculum-planning-for-a-phased-return.gs
  content/remote-teaching/ensuring-wellbeing-and-engagement-at-a-distance/keeping-pupils-engaged-and-motivated-at-a-distance.gs
  content/remote-teaching/ensuring-wellbeing-and-engagement-at-a-distance/online-and-offline-approaches-to-providing-home-learning.gs
  content/remote-teaching/ensuring-wellbeing-and-engagement-at-a-distance/supporting-wellbeing-at-a-distance.gs
  content/remote-teaching/examples-of-teaching-practice-during-coronavirus-b.gs
  content/remote-teaching/examples-of-teaching-practice-during-coronavirus.gs
Due: bundle exec lint-staged

Update the version 2 paragraph text of the landing page
  content/remote-teaching/curriculum-planning-for-both-school-and-home-settings/pastoral-care-in-the-curriculum.gs
  content/remote-teaching/examples-of-teaching-practice-during-coronavirus-b.gs
  content/remote-teaching/examples-of-teaching-practice-during-coronavirus.gs
Due: none

Update the landing page h2 title
  content/remote-teaching/examples-of-teaching-practice-during-coronavirus-b.gs
  content/remote-teaching/examples-of-teaching-practice-during-coronavirus.gs
Due: none

Update the hyperlinks on the landing page
  content/remote-teaching/examples-of-teaching-practice-during-coronavirus-b.gs
  content/remote-teaching/examples-of-teaching-practice-during-coronavirus.gs
Due: none

Update the chapter pages with additional content
  content/case-studies/adjusting-the-curriculum-for-learning-in-school-and-at-home.gs
  content/remote-teaching/ensuring-wellbeing-and-engagement-at-a-distance/online-and-offline-approaches-to-providing-home-learning.gs
  content/remote-teaching/ensuring-wellbeing-and-engagement-at-a-distance/supporting-wellbeing-at-a-distance.gs
  content/remote-teaching/examples-of-teaching-practice-during-coronavirus.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/deciding-what-to-teach-during-a-phased-return.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/identifying-and-addressing-gaps-in-pupils-understanding.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/making-the-most-of-reduced-classroom-time.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/pastoral-care-in-the-curriculum.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/planning-a-curriculum-for-home-learning.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/supporting-staff-in-curriculum-planning-for-a-phased-return.gs
Due: none

Update case study pages
  content/case-studies/a-mixed-approach-to-home-learning-at-a-primary-school.gs
  content/case-studies/a-mixed-approach-to-remote-education-at-a-primary-school.gs
  content/case-studies/a-secondary-schools-approach-to-adjusting-the-curriculum-for-learning-in-school-and-at-home.gs
  content/case-studies/adapting-teaching-practice-for-remote-education-at-a-special-needs-secondary-school.gs
  content/case-studies/adapting-the-primary-school-curriculum-for-learning-at-home.gs
  content/case-studies/adapting-the-primary-school-curriculum.gs
  content/case-studies/adapting-the-secondary-curriculum-across-multiple-subjects.gs
  content/case-studies/adapting-the-secondary-geography-curriculum-for-learning-at-home.gs
  content/case-studies/adapting-the-secondary-geography-curriculum.gs
  content/case-studies/adapting-the-secondary-science-curriculum-for-learning-at-home.gs
  content/case-studies/adapting-the-secondary-science-curriculum.gs
  content/case-studies/adaptive-teaching-design.gs
  content/case-studies/adjusting-the-curriculum-for-learning-in-school-and-at-home.gs
  content/case-studies/keeping-primary-and-secondary-age-pupils-motivated-and-engaged-at-a-distance.gs
  content/case-studies/organising-mixed-ability-learners-in-smaller-groups-and-helping-those-who-need-to-catch-up.gs
  content/case-studies/providing-physical-work-packs-for-pupils-with-limited-or-no-internet-connection.gs
  content/case-studies/regaining-knowledge-and-improving-wellbeing.gs
  content/case-studies/supporting-engagement-in-learning-for-primary-age-pupils-when-direct-communication-is-limited.gs
  content/case-studies/supporting-engagement-in-learning-for-primary-pupils-when-direct-communication-is-limited.gs
  content/case-studies/supporting-primary-and-secondary-pupils-wellbeing-and-maintaining-contact-at-a-distance.gs
  content/case-studies/supporting-primary-and-secondary-pupils-wellbeing-remotely.gs
  content/case-studies/supporting-the-wellbeing-of-primary-pupils-with-special-educational-needs-and-disabilities.gs
  content/case-studies/using-a-virtual-learning-environment.gs
  content/case-studies/using-digital-teaching-tools.gs
  content/case-studies/using-video-lessons.gs
Due: none

Add images to case study layout
  content/images/.gitkeep
  layouts/case-study.slim
Due: bundle exec lint-staged

Set image to half width on desktop
  content/css/application.scss
  layouts/case-study.slim
Due: bundle exec lint-staged

Update the content to support new changes on case studies
  content/case-studies/a-mixed-approach-to-home-learning-at-a-primary-school.gs
  content/case-studies/a-secondary-schools-approach-to-adjusting-the-curriculum-for-learning-in-school-and-at-home.gs
  content/case-studies/adjusting-the-curriculum-for-learning-in-school-and-at-home.gs
  content/case-studies/case-studies-collection.gs
  content/case-studies/organising-mixed-ability-learners-in-smaller-groups-and-helping-those-who-need-to-catch-up.gs
  content/case-studies/regaining-knowledge-and-improving-wellbeing.gs
  content/images/.DS_Store
  content/images/case-study-1.jpg
  content/images/case-study-2.jpg
  content/images/case-study-3.jpg
  content/images/case-study-4.jpg
  content/remote-teaching/adapting-the-curriculum-for-remote-education.gs
  content/remote-teaching/ensuring-wellbeing-and-engagement-at-a-distance/keeping-pupils-engaged-and-motivated-at-a-distance.gs
  content/remote-teaching/ensuring-wellbeing-and-engagement-at-a-distance/online-and-offline-approaches-to-providing-home-learning.gs
  content/remote-teaching/ensuring-wellbeing-and-engagement-at-a-distance/supporting-wellbeing-at-a-distance.gs
  content/remote-teaching/examples-of-teaching-practice-during-coronavirus-b.gs
  content/remote-teaching/examples-of-teaching-practice-during-coronavirus.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/deciding-what-to-teach-during-a-phased-return.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/identifying-and-addressing-gaps-in-pupils-understanding.gs
  content/remote-teaching/planning-a-curriculum-to-teach-at-school-and-at-home/supporting-staff-in-curriculum-planning-for-a-phased-return.gs
  layouts/govspeak.slim
Due: bundle exec lint-staged

Update the broken links
  content/case-studies/case-studies-collection.gs
Due: none

Create holding page for curriculum map with pdf attachment
  content/curriculum/curriculum-map.slim
  content/images/case-study-1.jpg
  content/images/case-study-3.jpg
  content/images/test-thumbnail.png
  content/pdf/test-pdf.pdf
Due: bundle exec lint-staged

Update the curriculum map holding page
  content/curriculum/curriculum-map.slim
Due: bundle exec lint-staged

Update the curriculum map page and add further taxonomy
  Rules
  content/curriculum/curriculum-ma.gs
  content/curriculum/primary-curriculum-map.gs
  layouts/curriculum-wrapper.slim
Due: bundle exec lint-staged

Create accordion pages
  Rules
  content/curriculum/curriculum-ma.gs
  content/curriculum/primary-curriculum-map.gs
  content/curriculum/primary/maths/develop-core-number-skills.slim
  content/curriculum/primary/reception.slim
  layouts/curriculum-wrapper.slim
Due: bundle exec lint-staged
