Repository DFE-Digital/content-prototype: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, bundle exec rubocop --fix-layout, bundle exec lint-staged

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.css": "stylelint --fix",
  "*.rb": "bundle exec rubocop --fix-layout",
  "*.slim": "bundle exec lint-staged"
}

Update / “get-help-with-technology-for-remote-education-1”
  content/get-help-with-technology-for-remote-education-1.gs
Due: none

Automatically generated. Merged on Netlify CMS
  content/get-help-with-technology-for-remote-education-1.gs
Due: none

Add safeguarding link to the teachers index
  content/teachers.gs
  content/teachers/safeguarding-and-remote-teaching-during-coronavirus-covid-19.gs
Due: none

Update / “teachers”
  content/teachers.gs
Due: none

Temporarily disable the tests
  .github/workflows/build-test-deploy.yml
Due: none

Fix the callout syntax
  content/teachers.gs
Due: none

Update /teachers “safeguarding-and-remote-teaching-during-coronavirus-covid-19”
  content/teachers/safeguarding-and-remote-teaching-during-coronavirus-covid-19.gs
Due: none

Update /teachers “help-with-technology”
  content/teachers/help-with-technology.gs
Due: none

Add the most recent batch of content tweaks
  content/supporting-your-childrens-education-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-children-with-send-learn-at-home-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-primary-school-children-learn-at-home-during-coronavirus.gs
Due: none

Safeguarding and Best Practices
  content/remote-teaching/case-studies/hospital-outreach.gs
  content/remote-teaching/case-studies/wave-mat.gs
  content/remote-teaching/remote-teaching-best-practice-during-coronavirus.slim
  content/remote-teaching/safeguarding-and-remote-teaching-during-the-coronavirus.gs
Due: bundle exec lint-staged

Fix breaking build, minor syntax tweaks
  content/remote-teaching.gs
  content/remote-teaching/case-studies.gs
  content/remote-teaching/remote-teaching-best-practice-during-coronavirus.slim
Due: bundle exec lint-staged

Minor indentation and spacing fix
  content/remote-teaching/remote-teaching-best-practice-during-coronavirus.slim
Due: bundle exec lint-staged

Update parent content with changes from 2020-04-17
  content/supporting-your-childrens-education-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-children-with-send-learn-at-home-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-primary-school-children-learn-at-home-during-coronavirus.gs
Due: none

Update /remote-teaching “safeguarding-and-remote-teaching-during-the-coronavirus”
  content/remote-teaching/safeguarding-and-remote-teaching-during-the-coronavirus.gs
Due: none

Fix warning layout bug
  content/teachers.gs
Due: none

updating Michaels copy 10:50am 17 april
  content/teachers.gs
  content/teachers/help-with-technology.gs
  content/teachers/safeguarding-and-remote-teaching-during-coronavirus-covid-19.gs
  content/teachers/safeguarding-and-remote-teaching.gs
  layouts/partials/teacher_contents.slim
Due: bundle exec lint-staged

Fix CMS defs of info, warn and advice blocks
  content/admin/govspeak-callout-information.js
  content/admin/govspeak-callout-warning.js
  content/admin/govspeak-highlight-advisory.js
Due: eslint --cache --fix

Update index.slim
  content/index.slim
Due: bundle exec lint-staged

Update teachers.gs
  content/teachers.gs
Due: none

🔧 add test only workflow
  .github/workflows/test.yml
Due: none

♻️Refactor RegExp (word and no-word with spaces)
  content/admin/govspeak-callout-example.js
  content/admin/govspeak-callout-information.js
  content/admin/govspeak-callout-warning.js
  content/admin/govspeak-highlight-advisory.js
  content/admin/govspeak-highlight-answer.js
  content/admin/govspeak-highlight-statistic-headline.js
  content/admin/govspeak-points-of-contact-address.js
  content/admin/govspeak-points-of-contact-contact.js
Due: eslint --cache --fix

Update header.slim
  layouts/partials/header.slim
Due: bundle exec lint-staged

Remove incorrectly-added file and update original
  content/get-help-with-technology-for-remote-education-1.gs
  content/teachers/help-with-technology.gs
Due: none

♻️ Bundle all common GovSpeak into single widget
  content/admin/govspeak-callout-example.js
  content/admin/govspeak-callout-information.js
  content/admin/govspeak-callout-warning.js
  content/admin/govspeak-common.js
  content/admin/govspeak-highlight-advisory.js
  content/admin/govspeak-highlight-answer.js
  content/admin/govspeak-highlight-statistic-headline.js
  content/admin/govspeak-points-of-contact-address.js
  content/admin/govspeak-points-of-contact-contact.js
  content/admin/index.html
Due: eslint --cache --fix

updating cypress tests
  cypress/integration/Homepage.test.js
  cypress/integration/SupportingChildrensEducationPage.test.js
  cypress/integration/TeachersPage.test.js
  cypress/support/commands.js
Due: eslint --cache --fix

Update warning box to cross link teacher and parent pages
  content/supporting-your-childrens-education-during-coronavirus.gs
  content/teachers.gs
Due: none

Remote learning prototype- Add new Cypress tests
  cypress/integration/RemoteLearningPrototype.spec.js
Due: eslint --cache --fix

script change as per PR comments
  cypress/integration/RemoteLearningPrototype.tests.js
  cypress/support/commands.js
Due: eslint --cache --fix

updating PR comments
  cypress/integration/RemoteLearningPrototype.tests.js
  cypress/support/commands.js
Due: eslint --cache --fix

update scripts for remote learning prototype
  cypress/integration/RemoteLearningPrototype.tests.js
Due: eslint --cache --fix
