Repository DFE-Digital/content-prototype: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, bundle exec rubocop --fix-layout, bundle exec lint-staged

Add 'help with technology' link to main index
  content/index.slim
Due: bundle exec lint-staged

Update adapting-the-curriculum-for-remote-education.slim
  content/remote-teaching/adapting-the-curriculum-for-remote-education.slim
Due: bundle exec lint-staged

1 and 2
  content/remote-teaching/remote-education-practices-during-coronavirus.slim
  content/remote-teaching/supporting-pupils-wellbeing.slim
Due: bundle exec lint-staged

Set parents page to published
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-children-with-send-learn-at-home-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-primary-school-children-learn-at-home-during-coronavirus.gs
Due: none

Update keeping-pupils-motivated-and-engaged.slim
  content/remote-teaching/keeping-pupils-motivated-and-engaged.slim
Due: bundle exec lint-staged

adapting
  content/remote-teaching/adapting-to-remote-education.slim
  content/remote-teaching/supporting-pupils-wellbeing.slim
Due: bundle exec lint-staged

Make eslint ignore minified JavaScript files
  .eslintrc.js
Due: eslint --cache --fix

1st night-shift commit
  content/remote-teaching/adapting-to-remote-education.slim
  content/remote-teaching/remote-education-practice-for schools-during-coronavirus.slim
  content/remote-teaching/supporting-pupils-wellbeing.slim
Due: bundle exec lint-staged

Final Commit for 27/04
  content/remote-teaching/case-studies/adapting-the-secondary-geography-curriculum.gs
  content/remote-teaching/keeping-pupils-motivated-and-engaged.slim
Due: bundle exec lint-staged

Fix broken links
  content/remote-teaching/remote-education-practice-for-schools-during-coronavirus.slim
Due: bundle exec lint-staged

Fix link to remote education practices page
  content/remote-teaching.gs
Due: none

update test scripts for home page
  cypress/integration/Homepage.test.js
Due: eslint --cache --fix

Remove masthead content from header
  content/css/application.scss
  layouts/coronavirus.slim
Due: bundle exec lint-staged

Resolve PR comments
  cypress/integration/Homepage.test.js
Due: eslint --cache --fix

Update test scripts as per latest PR comments
  cypress/integration/Homepage.test.js
Due: eslint --cache --fix

Update one.gs
  content/case-studies/one.gs
Due: none

Minor css tweak to content list
  content/css/application.scss
  content/supporting-your-childrens-education-during-coronavirus/help-primary-school-children-learn-at-home-during-coronavirus.gs
Due: none

Remove pagination test
  cypress/integration/Help-children-with-send-learn-at-home-during-coronavirus.test.js
  cypress/integration/Help-primary-school-children-learn-at-home-during-coronavirus.test.js
  cypress/integration/HelpChildrenAged-2-to-4-to-Learn-at-Home-DuringCoronaVirus.test.js
Due: eslint --cache --fix

Sushant/remove pagination (#123)
  cypress/integration/Help-children-with-send-learn-at-home-during-coronavirus.test.js
  cypress/integration/Help-primary-school-children-learn-at-home-during-coronavirus.test.js
  cypress/integration/HelpChildrenAged-2-to-4-to-Learn-at-Home-DuringCoronaVirus.test.js
Due: eslint --cache --fix

Add inital early years mental health content
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
Due: none

Update /teachers “preparing-to-teach-during-the-coronavirus-outbreak”
  content/teachers/preparing-to-teach-during-the-coronavirus-outbreak.gs
Due: none

Update Case studies changes
  content/case-studies/supporting-primary-age-pupils-with-special-educational-needs-and-disabilities.gs
  content/case-studies/supporting-primary-and-secondary-age pupils-wellbeing-at-a-multi-academy-Trust.gs
  content/case-studies/supporting-primary-and-secondary-age-pupils-wellbeing-at-an-academy.gs
  content/remote-teaching/supporting-pupils-wellbeing.slim
Due: bundle exec lint-staged

Adapting case study changes
  content/case-studies/adaptive-teaching-design.gs
  content/case-studies/using-a-virtual-learning-environment.gs
  content/case-studies/using-digital-teaching-tools.gs
  content/case-studies/using-video-lessons.gs
  content/remote-teaching/adapting-to-remote-education.slim
  content/remote-teaching/case-studies/supporting-primary-age-pupils-with-special-educational-needs-and-disabilities.gs
  content/remote-teaching/case-studies/supporting-primary-and-secondary-age pupils-wellbeing-at-a-multi-academy-Trust.gs
  content/remote-teaching/case-studies/supporting-primary-and-secondary-age-pupils-wellbeing-at-an-academy.gs
Due: bundle exec lint-staged

Fix indentation of case study frontmatter
  content/case-studies/adaptive-teaching-design.gs
  content/case-studies/using-a-virtual-learning-environment.gs
  content/case-studies/using-digital-teaching-tools.gs
  content/case-studies/using-video-lessons.gs
Due: none

'Adapting' subpage Case studies updates
  content/case-studies/adapting-the-primary-school-curriculum.gs
  content/case-studies/adapting-the-secondary-curriculum-across-multiple-subjects.gs
  content/case-studies/adapting-the-secondary-geography-curriculum.gs
  content/case-studies/adapting-the-secondary-science-curriculum.gs
  content/case-studies/adaptive-teaching-design.gs
  content/case-studies/supporting-primary-age-pupils-with-special-educational-needs-and-disabilities.gs
  content/case-studies/supporting-primary-and-secondary-age pupils-wellbeing-at-a-multi-academy-Trust.gs
  content/case-studies/supporting-primary-and-secondary-age-pupils-wellbeing-at-an-academy.gs
  content/case-studies/using-digital-teaching-tools.gs
  content/case-studies/using-video-lessons.gs
  content/remote-teaching/adapting-the-curriculum-for-remote-education.slim
Due: bundle exec lint-staged

'Adapting curriculum' case studies
  content/case-studies/adapting-the-primary-school-curriculum.gs
  content/case-studies/adapting-the-secondary-curriculum-across-multiple-subjects.gs
  content/case-studies/adapting-the-secondary-geography-curriculum.gs
  content/case-studies/adapting-the-secondary-science-curriculum.gs
Due: none

'Keeping motivated' Case studies updates
  content/case-studies/keeping-primary-and-secondary-age-pupils-motivated-and-engaged-at-a-distance.gs
  content/case-studies/supporting-engagement-in-learning-for-primary-age-pupils-when-direct-communication-is-limited.gs
  content/remote-teaching/keeping-pupils-motivated-and-engaged.slim
Due: bundle exec lint-staged

Update most Case studies
  content/case-studies/adapting-the-primary-school-curriculum.gs
  content/case-studies/adapting-the-secondary-curriculum-across-multiple-subjects.gs
  content/case-studies/adapting-the-secondary-geography-curriculum.gs
  content/case-studies/adapting-the-secondary-science-curriculum.gs
  content/case-studies/adaptive-teaching-design.gs
  content/case-studies/keeping-primary-and-secondary-age-pupils-motivated-and-engaged-at-a-distance.gs
  content/case-studies/supporting-engagement-in-learning-for-primary-age-pupils-when-direct-communication-is-limited.gs
  content/case-studies/supporting-primary-and-secondary-age pupils-wellbeing-at-a-multi-academy-Trust.gs
  content/case-studies/supporting-primary-and-secondary-age-pupils-wellbeing-at-an-academy.gs
  content/case-studies/using-a-virtual-learning-environment.gs
  content/case-studies/using-digital-teaching-tools.gs
  content/case-studies/using-video-lessons.gs
Due: none

Remove anonymous link from case study template
  layouts/case-study.slim
Due: bundle exec lint-staged

Make the 'K' in keeping lower case
  content/remote-teaching/remote-education-practice-for-schools-during-coronavirus.slim
Due: bundle exec lint-staged

Update remote-education-practice-for-schools-during-coronavirus.slim
  content/remote-teaching/remote-education-practice-for-schools-during-coronavirus.slim
Due: bundle exec lint-staged

Second iteration Additions
  content/remote-teaching/remote-education-practice-for-schools-during-coronavirus.slim
  content/remote-teaching/supporting-wellbeing.slim
Due: bundle exec lint-staged

adding new case studies files
  content/case-studies/a-mixed-approach-to-remote-education-at-a-primary-school.gs
  content/case-studies/adapting-the-secondary-curriculum-at-a-special-needs-school.gs
  content/case-studies/providing-physical-work-packs-for-pupils-with-limited-or-no-internet-connection.gs
  content/remote-teaching/adapting-teaching-practise-for-remote-education.slim
  content/remote-teaching/remote-education-practice-for-schools-during-coronavirus.slim
Due: bundle exec lint-staged

Final commit for new case studies
  content/case-studies/a-mixed-approach-to-remote-education-at-a-primary-school.gs
  content/case-studies/adapting-the-primary-school-curriculum.gs
  content/case-studies/adapting-the-secondary-curriculum-across-multiple-subjects.gs
  content/case-studies/adapting-the-secondary-curriculum-at-a-special-needs-school.gs
  content/case-studies/adapting-the-secondary-geography-curriculum.gs
  content/case-studies/adapting-the-secondary-science-curriculum.gs
  content/case-studies/keeping-primary-and-secondary-age-pupils-motivated-and-engaged-at-a-distance.gs
  content/case-studies/providing-physical-work-packs-for-pupils-with-limited-or-no-internet-connection.gs
  content/case-studies/supporting-primary-age-pupils-with-special-educational-needs-and-disabilities.gs
  content/remote-teaching/adapting-teaching-practise-for-remote-education.slim
  content/remote-teaching/adapting-the-curriculum-for-remote-education.slim
Due: bundle exec lint-staged

Create case-studies-collection.gs
  content/case-studies/case-studies-collection.gs
Due: none

Adding 'explore' links
  content/case-studies/a-mixed-approach-to-remote-education-at-a-primary-school.gs
  content/case-studies/adapting-the-primary-school-curriculum.gs
  content/case-studies/adapting-the-secondary-curriculum-across-multiple-subjects.gs
  content/case-studies/adapting-the-secondary-curriculum-at-a-special-needs-school.gs
  content/case-studies/adapting-the-secondary-geography-curriculum.gs
  content/case-studies/adapting-the-secondary-science-curriculum.gs
  content/case-studies/adaptive-teaching-design.gs
  content/case-studies/case-studies-collection.gs
  content/case-studies/keeping-primary-and-secondary-age-pupils-motivated-and-engaged-at-a-distance.gs
  content/case-studies/providing-physical-work-packs-for-pupils-with-limited-or-no-internet-connection.gs
  content/case-studies/supporting-engagement-in-learning-for-primary-age-pupils-when-direct-communication-is-limited.gs
  content/case-studies/supporting-primary-age-pupils-with-special-educational-needs-and-disabilities.gs
  content/case-studies/supporting-primary-and-secondary-age pupils-wellbeing-at-a-multi-academy-Trust.gs
  content/case-studies/supporting-primary-and-secondary-age-pupils-wellbeing-at-an-academy.gs
  content/case-studies/using-a-virtual-learning-environment.gs
  content/case-studies/using-digital-teaching-tools.gs
  content/case-studies/using-video-lessons.gs
Due: none

Replace the slim file with a govspeak one
  content/remote-teaching/remote-education-practice-for-schools-during-coronavirus.gs
  content/remote-teaching/remote-education-practice-for-schools-during-coronavirus.slim
Due: bundle exec lint-staged

Path conditions:
  eslint --cache --fix: any of: *.js
  stylelint --fix: any of: *.css
  bundle exec rubocop --fix-layout: any of: *.rb
  bundle exec lint-staged: any of: *.slim
