Repository DFE-Digital/content-prototype: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, bundle exec rubocop --fix-layout, bundle exec lint-staged

Fix link targets
  content/index.slim
Due: bundle exec lint-staged

Remote learning prototype- Add new Cypress tests
  cypress/integration/RemoteLearningPrototype.spec.js
Due: eslint --cache --fix

Clean up Dockerfile
  Dockerfile
  default.conf.template
  docker-run.sh
  nginx.conf
Due: none

Remove sublinks from the main index
  content/index.slim
Due: bundle exec lint-staged

Remove page
  content/support-my-child-to-learn.gs
  content/support-my-child-to-learn/helping-your-child-with-their-feelings.gs
  content/support-my-child-to-learn/socialising-and-spending-time-with-others.gs
  content/support-my-child-to-learn/the-best-ways-to-help-your-child-learn-at-home.gs
Due: none

Update to latest content
  content/support-my-child-to-learn.gs
Due: none

Update to latest content
  content/support-my-child-to-learn/socialising-and-spending-time-with-others.gs
Due: none

Update to latest content
  content/support-my-child-to-learn/the-best-ways-to-help-your-child-learn-at-home.gs
Due: none

Create / “sample-1”
  content/sample-1.gs
Due: none

Update / “sample-1”
  content/sample-1.gs
Due: none

First crack at making the index resemble CV19 page
  Rules
  content/css/application.scss
  content/index.slim
  layouts/coronavirus.slim
Due: bundle exec lint-staged

Update Cypress tests to reflect new homepage
  cypress/support/commands.js
Due: eslint --cache --fix

Add prettierignore file, skip all CSS
  .prettierignore
Due: none

Create teaching-approaches-during-coronavirus.gs
  content/teachers/teaching-approaches-during-coronavirus.gs
Due: none

Create Safeguarding-and-remote-teaching-during-the-coronavirus.slim
  content/remote-teaching/Safeguarding-and-remote-teaching-during-the-coronavirus.slim
Due: bundle exec lint-staged

Rename parents to supporting-your-childrens...
  content/index.slim
  content/supporting-your-childrens-learning-during-coronavirus-COVID-19.gs
Due: bundle exec lint-staged

Adds primary school content
  content/parents.gs
  content/parents/help-primary-school-chidren-learn-at-home.gs
  content/parents/help-primary-school-chidren-learn-at-home/children-with-special-educational-needs-and-disabilities.gs
  content/parents/help-primary-school-chidren-learn-at-home/reading-together.gs
  content/parents/help-primary-school-chidren-learn-at-home/reception-year-1-and-year2-children.gs
  content/parents/help-primary-school-chidren-learn-at-home/structuring-the-day.gs
  content/parents/help-primary-school-chidren-learn-at-home/using-digital-devices.gs
  content/parents/help-primary-school-chidren-learn-at-home/year-3-to-6-children.gs
  content/parents/support-my-child-to-learn.gs
  content/parents/support-my-child-to-learn/socialising-and-spending-time-with-others.gs
  content/parents/support-my-child-to-learn/the-best-ways-to-help-your-child-learn-at-home.gs
Due: none

Update Safeguarding-and-remote-teaching-during-the-coronavirus.slim
  content/remote-teaching/Safeguarding-and-remote-teaching-during-the-coronavirus.slim
Due: bundle exec lint-staged

Replace slim with govspeak, add placeholder index
  content/remote-teaching.gs
  content/remote-teaching/Safeguarding-and-remote-teaching-during-the-coronavirus.slim
  content/remote-teaching/safeguarding-and-remote-teaching-during-the-coronavirus.gs
Due: bundle exec lint-staged

Remove teaching approaches during cv19 page
  content/teachers/teaching-approaches-during-coronavirus.gs
Due: none

Remove unnecessary sample files
  content/sample-1.gs
  content/sample.gs
Due: none

Add remote teaching to NetlifyCMS config
  content/admin/config.yml
Due: none

Create / “get-help-with-technology-for-remote-education”
  content/get-help-with-technology-for-remote-education.gs
Due: none

Create / “get-help-with-technology-for-remote-education-1”
  content/get-help-with-technology-for-remote-education-1.gs
Due: none

Update / “get-help-with-technology-for-remote-education-1”
  content/get-help-with-technology-for-remote-education-1.gs
Due: none

🔧 Add basic auth on deploy
  .github/workflows/build-test-deploy.yml
Due: none

Add Staticfile.auth
  .gitignore
  Staticfile.auth
Due: none

Style the list of links as jump links
  content/css/application.scss
  content/parents/help-primary-school-chidren-learn-at-home.gs
  content/parents/help-primary-school-chidren-learn-at-home/children-with-special-educational-needs-and-disabilities.gs
  content/parents/help-primary-school-chidren-learn-at-home/reading-together.gs
  content/parents/help-primary-school-chidren-learn-at-home/reception-year-1-and-year2-children.gs
  content/parents/help-primary-school-chidren-learn-at-home/structuring-the-day.gs
  content/parents/help-primary-school-chidren-learn-at-home/using-digital-devices.gs
  content/parents/help-primary-school-chidren-learn-at-home/year-3-to-6-children.gs
  content/parents/support-my-child-to-learn.gs
  content/parents/support-my-child-to-learn/socialising-and-spending-time-with-others.gs
  content/parents/support-my-child-to-learn/the-best-ways-to-help-your-child-learn-at-home.gs
  layouts/govspeak.slim
  layouts/partials/jumplinks.slim
Due: bundle exec lint-staged

Update build-test-deploy.yml
  .github/workflows/build-test-deploy.yml
Due: none

Fix background images referenced in SCSS
  Rules
  content/css/govuk_publishing_components/components/_chevron-banner.scss
  content/css/govuk_publishing_components/components/_organisation-logo.scss
  content/css/govuk_publishing_components/components/_search.scss
  content/css/govuk_publishing_components/components/govspeak/_advisory.scss
  content/css/govuk_publishing_components/components/govspeak/_form-download.scss
  content/css/govuk_publishing_components/components/govspeak/_warning-callout.scss
  content/css/govuk_publishing_components/components/helpers/_govuk-frontend-settings.scss
  content/css/govuk_publishing_components/icon-important.svg
Due: none

support_my_child_to_learn sections as single pages
  content/parents/help-primary-school-chidren-learn-at-home.gs
  content/parents/help-primary-school-chidren-learn-at-home/children-with-special-educational-needs-and-disabilities.gs
  content/parents/help-primary-school-chidren-learn-at-home/reading-together.gs
  content/parents/help-primary-school-chidren-learn-at-home/reception-year-1-and-year2-children.gs
  content/parents/help-primary-school-chidren-learn-at-home/structuring-the-day.gs
  content/parents/help-primary-school-chidren-learn-at-home/using-digital-devices.gs
  content/parents/help-primary-school-chidren-learn-at-home/year-3-to-6-children.gs
  content/parents/support-my-child-to-learn.gs
  content/parents/support-my-child-to-learn/socialising-and-spending-time-with-others.gs
  content/parents/support-my-child-to-learn/the-best-ways-to-help-your-child-learn-at-home.gs
Due: none

Allow parents dir to be edited with cms
  content/admin/config.yml
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  stylelint --fix: any of: *.css
  bundle exec rubocop --fix-layout: any of: *.rb
  bundle exec lint-staged: any of: *.slim
