Repository DFE-Digital/content-prototype: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, bundle exec rubocop --fix-layout, bundle exec lint-staged

.lintstagedrc:

{
  "*.js": "eslint --cache --fix",
  "*.css": "stylelint --fix",
  "*.rb": "bundle exec rubocop --fix-layout",
  "*.slim": "bundle exec lint-staged"
}

PR commnets update
  cypress/integration/RemoteLearningPrototype.tests.js
Due: eslint --cache --fix

Adding tests for home and teachers page
  cypress/integration/Homepage.test.js
  cypress/integration/TeachersPage.test.js
Due: eslint --cache --fix

Fixing linting issues
  cypress/integration/Homepage.test.js
Due: eslint --cache --fix

Resolving pr comments
  cypress/integration/Homepage.test.js
  cypress/integration/TeachingduringcoronavirusPage.test.js
  cypress/support/commands.js
Due: eslint --cache --fix

updating test scripts
  cypress/integration/RemoteLearningPrototype.tests.js
Due: eslint --cache --fix

Fixing tests
  cypress/integration/Homepage.test.js
  cypress/integration/SupportingChildrensEducationPage.test.js
  cypress/integration/TeachersPage.test.js
  cypress/support/commands.js
Due: eslint --cache --fix

♻️ Refactor Cypress tests to isolate pages
  cypress/.eslintrc.js
  cypress/integration/Homepage.test.js
  cypress/integration/RemoteLearningPrototype.spec.js
  cypress/integration/RemoteLearningPrototype.tests.js
  cypress/integration/SupportingChildrensEducationPage.test.js
  cypress/integration/TeachersPage.test.js
  cypress/integration/TeachingduringcoronavirusPage.test.js
  cypress/support/commands.js
Due: eslint --cache --fix

Fix linting issues
  cypress/integration/SupportingChildrensEducationPage.test.js
Due: eslint --cache --fix

updating test scripts
  cypress/integration/SupportingChildrensEducationPage.test.js
Due: eslint --cache --fix

update test code as per PR commnets.
  cypress/integration/SupportingChildrensEducationPage.test.js
Due: eslint --cache --fix

Remote learning prototype- Add new Cypress tests
  cypress/integration/RemoteLearningPrototype.spec.js
Due: eslint --cache --fix

update scripts for remote learning prototype
  cypress/integration/RemoteLearningPrototype.tests.js
Due: eslint --cache --fix

updating PR comments
  cypress/integration/RemoteLearningPrototype.tests.js
  cypress/support/commands.js
Due: eslint --cache --fix

script change as per PR comments
  cypress/integration/RemoteLearningPrototype.tests.js
  cypress/support/commands.js
Due: eslint --cache --fix

Split contnent into pages
  content/remote-teaching/adapting-the-curriculum-for-remote-education.slim
  content/remote-teaching/case-studies.gs
  content/remote-teaching/remote-teaching-best-practice-during-coronavirus.slim
  content/remote-teaching/supporting-pupils-wellbeing.slim
  package-lock.json
Due: bundle exec lint-staged

Remove old content
  content/parents.gs
  content/parents/help-primary-school-chidren-learn-at-home.gs
  content/parents/help-primary-school-chidren-learn-at-home/children-with-special-educational-needs-and-disabilities.gs
  content/parents/help-primary-school-chidren-learn-at-home/reading-together.gs
  content/parents/help-primary-school-chidren-learn-at-home/reception-year-1-and-year2-children.gs
  content/parents/help-primary-school-chidren-learn-at-home/structuring-the-day.gs
  content/parents/help-primary-school-chidren-learn-at-home/using-digital-devices.gs
  content/parents/help-primary-school-chidren-learn-at-home/year-3-to-6-children.gs
  content/parents/support-my-child-to-learn.gs
  content/parents/support-my-child-to-learn/socialising-and-spending-time-with-others.gs
  content/parents/support-my-child-to-learn/the-best-ways-to-help-your-child-learn-at-home.gs
Due: none

Add support for lead paragraph
  content/css/application.scss
  content/supporting-your-childrens-education-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-children-with-send-learn-at-home-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-primary-school-children-learn-at-home-during-coronavirus.gs
  layouts/govspeak.slim
Due: bundle exec lint-staged

Small syntax fixes, improve breadcrumbs
  content/remote-teaching/supporting-pupils-wellbeing.slim
  layouts/partials/breadcrumbs.slim
Due: bundle exec lint-staged

Only show hr if there's a lead paragraph
  layouts/govspeak.slim
Due: bundle exec lint-staged

3 out of 4
  content/remote-teaching/adapting-the-curriculum-for-remote-education.slim
  content/remote-teaching/case-studies/academy.gs
  content/remote-teaching/case-studies/adapting-the-primary-school-curriculum.gs
  content/remote-teaching/case-studies/adapting-the-secondary-curriculum-across-multiple-subjects.gs
  content/remote-teaching/case-studies/adapting-the-secondary-geography-curriculum.gs
  content/remote-teaching/case-studies/adapting-the-secondary-science-curriculum.gs
  content/remote-teaching/case-studies/adaptive-teaching-design.gs
  content/remote-teaching/case-studies/multi-academy-trust.gs
  content/remote-teaching/case-studies/using-a-virtual-learning-environment.gs
  content/remote-teaching/case-studies/using-digital-teaching-tools.gs
  content/remote-teaching/case-studies/using-video-lessons.gs
  content/remote-teaching/making-remote-education-effective.slim
  content/remote-teaching/remote-teaching-best-practice-during-coronavirus.slim
  content/remote-teaching/supporting-pupils-wellbeing.slim
Due: bundle exec lint-staged

Add test for Safeguarding and remote teaching during coronavirus page
  cypress/integration/SafeguardingAndRemoteTeachingDuringCoronaVirus.test.js
Due: eslint --cache --fix

4 out of 4
  content/remote-teaching/case-studies/keeping-pupils-motivated-and-engaged-at-a-distance.gs
  content/remote-teaching/case-studies/supporting-engagement-in-learning-when-direct-communication-is-limited.gs
  content/remote-teaching/keeping-pupils-motivated-and-engaged.slim
  content/remote-teaching/making-remote-education-effective.slim
  content/remote-teaching/remote-teaching-best-practice-during-coronavirus.slim
Due: bundle exec lint-staged

update test code as per PR comments
  cypress/integration/SafeguardingAndRemoteTeachingDuringCoronaVirus.test.js
Due: eslint --cache --fix

quick link error
  content/remote-teaching/supporting-pupils-wellbeing.slim
Due: bundle exec lint-staged

✨Check for broken links within govspeak
  cypress/integration/SafeguardingAndRemoteTeachingDuringCoronaVirus.test.js
  cypress/support/commands.js
Due: eslint --cache --fix

♻️ link checker only check HEAD response
  cypress/support/commands.js
Due: eslint --cache --fix
