Repository DFE-Digital/content-prototype: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, bundle exec rubocop --fix-layout, bundle exec lint-staged

🚨 Fix lint issues on project files
  .gitignore
  content/css/application.scss
  content/js/applicaiton.js
  layouts/partials/footer.slim
Due: eslint --cache --fix, bundle exec lint-staged

Add some content to the index page
  content/css/application.scss
  content/index.slim
Due: bundle exec lint-staged

📝 Readme and Linters
  .eslintignore
  .eslintrc.js
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .lintstagedrc
  .rubocop.yml
  .slim-lint.yml
  .stylelintignore
  .stylelintrc.js
  Gemfile
  Gemfile.lock
  LICENSE
  README.md
  Rules
  package-lock.json
  package.json
Due: eslint --cache --fix

Update from Forestry.io - Updated Forestry configuration
  .forestry/settings.yml
Due: none

Configure heroku buildpack
  .dockerignore
  Dockerfile
  app.json
  heroku.yml
Due: none

wip
  Dockerfile
Due: none

Remove Forestry CMS
  .forestry/settings.yml
Due: none

➕ Introduce Netlify CMS
  content/admin/config.yml
  content/admin/index.html
Due: none

🔧CMS Editorial Mode
  content/admin/config.yml
Due: none

Update /teachers “scheduling-the-school-day-during-coronavirus”
  content/teachers/scheduling-the-school-day-during-coronavirus.gs
Due: none

wip
  Dockerfile
  docker-entrypoint.sh
Due: none

wip
  docker-entrypoint.sh
Due: none

🔧 GitHub Actions configuration (lint + build)
  .github/workflows/build.yml
  .github/workflows/lint.yml
Due: none

🔧 npm install step on CI build
  .github/workflows/build.yml
  .github/workflows/lint.yml
  Gemfile
Due: none

✅ Initial cypress e2e test
  .eslintrc.js
  .github/workflows/e2e-tests-chrome.yml
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/Homepage.test.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  jsconfig.json
  layouts/partials/footer.slim
  package-lock.json
  package.json
Due: eslint --cache --fix, bundle exec lint-staged

🚨 Fix linting issues
  .stylelintignore
  content/css/application.scss
  content/css/component_guide/application.scss
  cypress/plugins/index.js
  cypress/support/index.js
Due: eslint --cache --fix

Deploy to heroku
  .dockerignore
  Dockerfile
  app.json
  default.conf.template
  heroku.yml
  nginx.conf
Due: none

Updates README with docker instructions
  README.md
Due: none

Add trailing slash to internal links
  content/index.slim
  content/teachers.gs
Due: bundle exec lint-staged

Adds staging url to readme
  README.md
Due: none

🔧 E2E CI test to use npm start
  .github/workflows/e2e-tests-chrome.yml
Due: none

🚨 disable lint for required cypress file
  .gitignore
  cypress/plugins/index.js
Due: eslint --cache --fix

🚨 Stylelint ignore bundled Scss files
  .stylelintignore
Due: none

🚨 Eslint to ignore vendor javascript
  .eslintignore
Due: none

🔧 remove documentation to save gem install time
  .github/workflows/build.yml
  .github/workflows/e2e-tests-chrome.yml
  .github/workflows/lint.yml
Due: none

🔧 Skip husky Git hooks on CI
  .github/workflows/build.yml
  .github/workflows/e2e-tests-chrome.yml
  .github/workflows/lint.yml
Due: none

🏷 CI Badges
  README.md
Due: none

📝remove typo rule
  .eslintrc.js
Due: eslint --cache --fix

Path conditions:
  eslint --cache --fix: any of: *.js
  stylelint --fix: any of: *.css
  bundle exec rubocop --fix-layout: any of: *.rb
  bundle exec lint-staged: any of: *.slim
