Repository DFE-Digital/content-prototype: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, bundle exec rubocop --fix-layout, bundle exec lint-staged

🔧 GitHub Actions configuration (lint + build)
  .github/workflows/build.yml
  .github/workflows/lint.yml
Due: none

🚨 disable lint for required cypress file
  .gitignore
  cypress/plugins/index.js
Due: eslint --cache --fix

🚨 Fix linting issues
  .stylelintignore
  content/css/application.scss
  content/css/component_guide/application.scss
  cypress/plugins/index.js
  cypress/support/index.js
Due: eslint --cache --fix

🔧 remove documentation to save gem install time
  .github/workflows/build.yml
  .github/workflows/e2e-tests-chrome.yml
  .github/workflows/lint.yml
Due: none

🔧 Skip husky Git hooks on CI
  .github/workflows/build.yml
  .github/workflows/e2e-tests-chrome.yml
  .github/workflows/lint.yml
Due: none

✅ Initial cypress e2e test
  .eslintrc.js
  .github/workflows/e2e-tests-chrome.yml
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/Homepage.test.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  jsconfig.json
  layouts/partials/footer.slim
  package-lock.json
  package.json
Due: eslint --cache --fix, bundle exec lint-staged

📝remove typo rule
  .eslintrc.js
Due: eslint --cache --fix

Update README.md
  README.md
Due: none

Add basic auth to nginx
  Dockerfile
  http_basic_auth.sh
Due: none

🔧 Windows Edge testing
  .github/workflows/e2e-tests-chrome.yml
  .github/workflows/e2e-tests.yml
Due: none

Add .govuk-link to link_to if no class supplied
  lib/helpers.rb
  lib/helpers/link_helper.rb
Due: bundle exec rubocop --fix-layout

Update teacher index content
  content/teachers.gs
Due: none

Move warnings to their own partials
  content/teachers.gs
  layouts/govspeak.slim
  layouts/partials/safety_warning.slim
  layouts/partials/update_warning.slim
Due: bundle exec lint-staged

Disable OutputSafety cop, unnecessary for static
  .rubocop.yml
Due: none

Overhaul the teacher copy, it's now at v3
  content/teachers.gs
  content/teachers/preparing-to-teach-during-the-coronavirus-outbreak.gs
  content/teachers/remote-teaching-during-coronavirus.gs
  content/teachers/scheduling-the-school-day-during-coronavirus.gs
  content/teachers/teaching-approaches-during-coronavirus.gs
  content/teachers/teaching-during-the-coronavirus-outbreak.gs
  content/teachers/whats-expected-of-teachers-during-coronavirus.gs
Due: none

Add contents partial for teacher pages
  content/teachers/preparing-to-teach-during-the-coronavirus-outbreak.gs
  content/teachers/scheduling-the-school-day-during-coronavirus.gs
  content/teachers/teaching-during-the-coronavirus-outbreak.gs
  content/teachers/whats-expected-of-teachers-during-coronavirus.gs
  layouts/govspeak.slim
  layouts/partials/teacher_contents.slim
Due: bundle exec lint-staged

✅ Content includes `govuk-link` class for links
  cypress/integration/Homepage.test.js
  cypress/support/commands.js
  lib/helpers/link_helper.rb
Due: eslint --cache --fix, bundle exec rubocop --fix-layout

Update parents content, it's now at v3
  content/parents.gs
Due: none

Adds initial content for 2-4 yo guidance
  content/parents/help-2-to-4-year-olds-learn-at-home.gs
Due: none

Link to 2-4 yo guidance from landing page
  content/index.slim
Due: bundle exec lint-staged

Add basic guide page
  Gemfile
  Gemfile.lock
  Rules
  content/css/application.scss
  content/guide.md
Due: none

Add a basic contribution guide for content folks
  Gemfile
  content/guide.md
Due: none

Add info on creating own fork
  content/guide.md
  content/guide/fork-button.png
Due: none

Add config for deploying to the GOV.UK PaaS
  Staticfile
  manifest.yml
Due: none

Fix typo
  content/guide.md
Due: none

Change to new buildpacks syntax
  manifest.yml
Due: none

Update landing page link copy
  content/index.slim
Due: bundle exec lint-staged

Move the update warning back inside the content
  content/css/application.scss
  content/parents.gs
  content/teachers.gs
  layouts/govspeak.slim
  layouts/partials/head.slim
  layouts/partials/safety_warning.slim
  layouts/partials/update_warning.slim
Due: bundle exec lint-staged

Update data safety warning message
  layouts/partials/safety_warning.slim
Due: bundle exec lint-staged

Update SEND pupil subheading
  content/teachers/preparing-to-teach-during-the-coronavirus-outbreak.gs
Due: none

Create / “test”
  content/test.gs
Due: none

Enable creating new posts
  content/admin/config.yml
Due: none

Make some small typo fixes and add missing link
  content/css/application.scss
  layouts/partials/safety_warning.slim
Due: bundle exec lint-staged

Ignore the Staticfile.auth file
  .gitignore
Due: none

✨GovSpeak CMS Highlights
  content/admin/govspeak-highlight-advisory.js
  content/admin/govspeak-highlight-answer.js
  content/admin/govspeak-highlight-statistic-headline.js
  content/admin/index.html
  content/admin/preview.js
  content/sample.gs
Due: eslint --cache --fix

✨GovSpeak CMS Callouts
  content/admin/govspeak-callout-example.js
  content/admin/govspeak-callout-information.js
  content/admin/govspeak-callout-warning.js
  content/admin/index.html
  content/sample.gs
Due: eslint --cache --fix

✍️ Correct CMS Highlight label typos
  content/admin/govspeak-highlight-advisory.js
  content/admin/govspeak-highlight-answer.js
  content/admin/govspeak-highlight-statistic-headline.js
Due: eslint --cache --fix

wip
  content/index.slim
  content/support-my-child-to-learn.gs
  content/support-my-child-to-learn/the-best-ways-to-help-your-child-learn-at-home.gs
  layouts/partials/breadcrumbs.slim
Due: bundle exec lint-staged

Path conditions:
  eslint --cache --fix: any of: *.js
  stylelint --fix: any of: *.css
  bundle exec rubocop --fix-layout: any of: *.rb
  bundle exec lint-staged: any of: *.slim
