Repository DFE-Digital/content-prototype: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, bundle exec rubocop --fix-layout, bundle exec lint-staged

Update one.gs
  content/case-studies/one.gs
Due: none

Redirect /parents/ to correct url
  docker-run.sh
Due: none

Update case study
  content/case-studies/one.gs
  layouts/case-study.slim
Due: bundle exec lint-staged

Try redirecting to full url
  docker-run.sh
Due: none

Add finalised content draft
  content/supporting-your-childrens-education-during-coronavirus/help-secondary-school-children-continue-their-education-during-coronavirus.gs
Due: none

Add remote-learning-research cf app config
  manifest.yml
Due: none

Only push the prototype automatically
  .github/workflows/build-test-deploy.yml
Due: none

update content
  content/supporting-your-childrens-education-during-coronavirus/help-secondary-school-children-continue-their-education-during-coronavirus.gs
Due: none

Debug content of default.conf
  docker-run.sh
Due: none

Remove default port setting and dump default.conf
  Dockerfile
  docker-run.sh
Due: none

Try removing the offening line in default.conf
  Dockerfile
  docker-run.sh
Due: none

Pin nginx version
  Dockerfile
  docker-run.sh
Due: none

Fix TOC
  content/supporting-your-childrens-education-during-coronavirus/help-secondary-school-children-continue-their-education-during-coronavirus.gs
Due: none

Make the govspeak pages use the govspeak layout
  Rules
  layouts/partials/header.slim
Due: bundle exec lint-staged

Add a status indicator partial
  layouts/govspeak.slim
  layouts/partials/status-indicator.slim
Due: bundle exec lint-staged

Add the published flag to pages that are live
  content/supporting-your-childrens-education-during-coronavirus.gs
  content/teachers.gs
  content/teachers/help-with-technology.gs
  content/teachers/safeguarding-and-remote-teaching-during-coronavirus-covid-19.gs
Due: none

Add and load GOV.UK Frontend JavaScript
  content/js/govuk-frontend-3.6.0.min.js
  layouts/partials/footer.slim
Due: eslint --cache --fix, bundle exec lint-staged

Remove header checks from each test file as header text has been removed from each web page
  cypress/integration/Help-children-with-send-learn-at-home-during-coronavirus.test.js
  cypress/integration/Help-primary-school-children-learn-at-home-during-coronavirus.test.js
  cypress/integration/HelpChildrenAged-2-to-4-to-Learn-at-Home-DuringCoronaVirus.test.js
  cypress/integration/HelpWithTechnologyPage.test.js
  cypress/integration/Homepage.test.js
  cypress/integration/SafeguardingAndRemoteTeachingDuringCoronaVirus.test.js
  cypress/integration/SupportingChildrensEducationPage.test.js
  cypress/integration/TeachersPage.test.js
  cypress/support/commands.js
Due: eslint --cache --fix

Update content to match live
  content/supporting-your-childrens-education-during-coronavirus.gs
Due: none

Update remote-education-practices-during-coronavirus.slim
  content/remote-teaching/remote-education-practices-during-coronavirus.slim
Due: bundle exec lint-staged

update content to match live
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
Due: none

Remove pagination link
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
Due: none

Add an accordion to the landing page
  content/css/application.scss
  content/index.slim
  layouts/coronavirus.slim
Due: bundle exec lint-staged

add status
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
Due: none

fix
  content/remote-teaching/remote-education-practices-during-coronavirus.slim
  content/remote-teaching/supporting-pupils-wellbeing.slim
Due: bundle exec lint-staged

Add accordion content
  content/index.slim
Due: bundle exec lint-staged

Add teacher and parent links to accordion
  content/index.slim
Due: bundle exec lint-staged

Pin nginx version
  Dockerfile
Due: none

Pass filter options through to govspeak
  lib/filters/govspeak.rb
Due: bundle exec rubocop --fix-layout

Add a trailing slash to the teachers link
  content/index.slim
Due: bundle exec lint-staged

1 out of 4.
  content/remote-teaching/remote-education-practices-during-coronavirus.slim
  content/remote-teaching/supporting-pupils-wellbeing.slim
Due: bundle exec lint-staged

add TOC table
  Rules
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
  lib/filters/govspeak.rb
Due: bundle exec rubocop --fix-layout

fix heading level to match live
  content/supporting-your-childrens-education-during-coronavirus/help-children-aged-2-to-4-to-learn-at-home-during-coronavirus.gs
Due: none

Set heading levels used for toc
  Rules
Due: none

update content
  content/supporting-your-childrens-education-during-coronavirus/help-primary-school-children-learn-at-home-during-coronavirus.gs
Due: none

Update content to match live
  content/supporting-your-childrens-education-during-coronavirus/help-children-with-send-learn-at-home-during-coronavirus.gs
Due: none

Update adapting-to-remote-education.slim
  content/remote-teaching/adapting-to-remote-education.slim
Due: bundle exec lint-staged

Path conditions:
  eslint --cache --fix: any of: *.js
  stylelint --fix: any of: *.css
  bundle exec rubocop --fix-layout: any of: *.rb
  bundle exec lint-staged: any of: *.slim
