Repository DFE-Digital/content-prototype: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, bundle exec rubocop --fix-layout, bundle exec lint-staged

✨GovSpeak Points of Contact
  content/admin/govspeak-points-of-contact-address.js
  content/admin/govspeak-points-of-contact-contact.js
  content/admin/index.html
  content/sample.gs
Due: eslint --cache --fix

✍️ Correct CMS Highlight label typos
  content/admin/govspeak-highlight-advisory.js
  content/admin/govspeak-highlight-answer.js
  content/admin/govspeak-highlight-statistic-headline.js
Due: eslint --cache --fix

✨GovSpeak CMS Highlights
  content/admin/govspeak-highlight-advisory.js
  content/admin/govspeak-highlight-answer.js
  content/admin/govspeak-highlight-statistic-headline.js
  content/admin/index.html
  content/admin/preview.js
  content/sample.gs
Due: eslint --cache --fix

✨GovSpeak CMS Callouts
  content/admin/govspeak-callout-example.js
  content/admin/govspeak-callout-information.js
  content/admin/govspeak-callout-warning.js
  content/admin/index.html
  content/sample.gs
Due: eslint --cache --fix

wip
  content/support-my-child-to-learn.gs
  content/support-my-child-to-learn/helping-your-child-with-their-feelings.gs
  content/support-my-child-to-learn/socialising-and-spending-time-with-others.gs
  content/support-my-child-to-learn/the-best-ways-to-help-your-child-learn-at-home.gs
Due: none

wip
  content/index.slim
Due: bundle exec lint-staged

Update / “sample”
  content/sample.gs
Due: none

Create / “support-years-10-and-12-to-continue-to-learn-during-coronavirus-covid-19”
  content/support-years-10-and-12-to-continue-to-learn-during-coronavirus-covid-19.gs
Due: none

wip
  content/support-my-child-to-learn.gs
  content/support-my-child-to-learn/socialising-and-spending-time-with-others.gs
Due: none

wip
  content/support-my-child-to-learn.gs
  content/support-my-child-to-learn/the-best-ways-to-help-your-child-learn-at-home.gs
Due: none

wip
  content/css/application.scss
  content/support-my-child-to-learn.gs
  content/support-my-child-to-learn/helping-your-child-with-their-feelings.gs
  content/support-my-child-to-learn/socialising-and-spending-time-with-others.gs
  content/support-my-child-to-learn/the-best-ways-to-help-your-child-learn-at-home.gs
  layouts/govspeak.slim
  layouts/partials/pagination.slim
Due: bundle exec lint-staged

wip
  layouts/partials/pagination.slim
Due: bundle exec lint-staged

wip
  layouts/partials/pagination.slim
  layouts/partials/pagination_item.slim
  lib/helpers.rb
  lib/helpers/svg_helper.rb
Due: bundle exec rubocop --fix-layout, bundle exec lint-staged

wip
  .gitignore
  content/support-my-child-to-learn.gs
  content/support-my-child-to-learn/helping-your-child-with-their-feelings.gs
  content/support-my-child-to-learn/socialising-and-spending-time-with-others.gs
  content/support-my-child-to-learn/the-best-ways-to-help-your-child-learn-at-home.gs
  layouts/govspeak.slim
  layouts/partials/pagination.slim
  layouts/partials/pagination_item.slim
  lib/helpers/svg_helper.rb
Due: bundle exec rubocop --fix-layout, bundle exec lint-staged

wip
  lib/helpers.rb
  lib/helpers/pagination_helper.rb
Due: bundle exec rubocop --fix-layout

Add override for breadcrumb title
  layouts/partials/breadcrumbs.slim
Due: bundle exec lint-staged

Add byebug_history to .gitignore
  .gitignore
Due: none

Adds pagination
  content/css/application.scss
  layouts/govspeak.slim
  layouts/partials/pagination.slim
  layouts/partials/pagination_item.slim
  lib/helpers.rb
  lib/helpers/pagination_helper.rb
Due: bundle exec rubocop --fix-layout, bundle exec lint-staged

Add pagination links to teacher pages
  content/teachers/preparing-to-teach-during-the-coronavirus-outbreak.gs
  content/teachers/scheduling-the-school-day-during-coronavirus.gs
  content/teachers/teaching-during-the-coronavirus-outbreak.gs
  content/teachers/whats-expected-of-teachers-during-coronavirus.gs
  layouts/partials/pagination.slim
Due: bundle exec lint-staged

Create / “café-menu”
  content/café-menu.gs
Due: none

Update / “café-menu”
  content/café-menu.gs
Due: none

Add the first draft of guide on editing with CMS
  content/css/application.scss
  content/guide.md
  content/guide/contents-page.png
  content/guide/editor-page.png
  content/guide/progress-button.png
  content/guide/pull-requests-page.png
  content/guide/workflow-page.png
Due: none

Fix SCSS linting failure
  content/css/application.scss
Due: none

Typo fix
  content/guide.md
Due: none

Update config.yml
  content/admin/config.yml
Due: none

Add inital help 2 to 4 year olds content
  content/support-my-child-to-learn.gs
  content/support-my-child-to-learn/helping-your-child-with-their-feelings.gs
  content/support-my-child-to-learn/socialising-and-spending-time-with-others.gs
  content/support-my-child-to-learn/the-best-ways-to-help-your-child-learn-at-home.gs
Due: none

Create / “support-years-10-and-12-to-continue-to-learn-during-coronavirus-covid-19-1”
  content/support-years-10-and-12-to-continue-to-learn-during-coronavirus-covid-19-1.gs
Due: none

Update / “support-years-10-and-12-to-continue-to-learn-during-coronavirus-covid-19-1”
  content/support-years-10-and-12-to-continue-to-learn-during-coronavirus-covid-19-1.gs
Due: none

🔧 Auto deploy on master
  .github/workflows/build-test-deploy.yml
  .github/workflows/build.yml
Due: none

📝 Link to Supporting years 10&12
  content/index.slim
Due: bundle exec lint-staged

Add new HTML content
  content/index.slim
  content/remote-teaching/use-remote-learning-approaches-during-coronavirus.slim
  layouts/default.slim
Due: bundle exec lint-staged

Apply styles to match original prototype
  content/css/application.scss
  content/index.slim
  content/remote-teaching/use-remote-learning-approaches-during-coronavirus.slim
Due: bundle exec lint-staged

Path conditions:
  eslint --cache --fix: any of: *.js
  stylelint --fix: any of: *.css
  bundle exec rubocop --fix-layout: any of: *.rb
  bundle exec lint-staged: any of: *.slim
