Repository DFE-Digital/content-prototype: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, bundle exec rubocop --fix-layout, bundle exec lint-staged

Title change
  content/remote-teaching/Remote-teaching-practices-during-coronavirus.slim
Due: bundle exec lint-staged

Add test for Help with Technology Page
  cypress/integration/HelpWithTechnologyPage.test.js
Due: eslint --cache --fix

🚧 testing url on CI
  .github/workflows/broken-link-checker.yml
  package-lock.json
  package.json
Due: none

Fix link, make filenames lowercase
  content/remote-teaching.gs
  content/remote-teaching/remote-teaching-practices-during-coronavirus.slim
Due: bundle exec lint-staged

Fix hr
  content/teachers.gs
Due: none

Add trailing slashes to links
  content/remote-teaching.gs
Due: none

Tuesday 21-04
  content/remote-teaching/Remote-teaching-practices-during-coronavirus.slim
  content/remote-teaching/adapting-the-curriculum-to-teach-remotely.slim
  content/remote-teaching/making-remote-education-as-feasible-and-effective-as-possible.slim
  content/remote-teaching/remote-education-practices-during-coronavirus.slim
  content/remote-teaching/supporting-pupils-wellbeing.slim
Due: bundle exec lint-staged

Update remote-education-practices-during-coronavirus.slim
  content/remote-teaching/remote-education-practices-during-coronavirus.slim
Due: bundle exec lint-staged

Wed 22/04 1st commit
  content/remote-teaching/case-studies/primary-age.gs
  content/remote-teaching/supporting-pupils-wellbeing.slim
Due: bundle exec lint-staged

Update making-remote-education-as-feasible-and-effective-as-possible.slim
  content/remote-teaching/making-remote-education-as-feasible-and-effective-as-possible.slim
Due: bundle exec lint-staged

update adapting-curriculum file
  content/remote-teaching/adapting-the-curriculum-for-remote-education.slim
  content/remote-teaching/adapting-the-curriculum-to-teach-remotely.slim
  content/remote-teaching/remote-education-practices-during-coronavirus.slim
Due: bundle exec lint-staged

Update keeping-pupils-motivated-and-engaged.slim
  content/remote-teaching/keeping-pupils-motivated-and-engaged.slim
Due: bundle exec lint-staged

remove broken link checker
  cypress/integration/SafeguardingAndRemoteTeachingDuringCoronaVirus.test.js
  cypress/support/commands.js
Due: eslint --cache --fix

update test scripts as per PR commnets
  cypress/integration/HelpWithTechnologyPage.test.js
  cypress/support/commands.js
Due: eslint --cache --fix

Make link match target on remote-teaching index
  content/remote-teaching.gs
Due: none

Remove old file and rename teaching -> education
  content/remote-teaching.gs
  content/remote-teaching/remote-teaching-practices-during-coronavirus.slim
Due: bundle exec lint-staged

Add new test for Help children aged 2 to 4 to learn at home during coronavirus page
  cypress/integration/HelpChildrenAged-2-to-4-to-Learn-at-Home-DuringCoronaVirus.test.js
Due: eslint --cache --fix

Update commands.js
  cypress/support/commands.js
Due: eslint --cache --fix

Update adapting-the-curriculum-for-remote-education.slim
  content/remote-teaching/adapting-the-curriculum-for-remote-education.slim
Due: bundle exec lint-staged

Update remote-teaching.gs
  content/remote-teaching.gs
Due: none

Add test for Help primary school children continue their education during coronavirus page
  cypress/integration/Help-primary-school-children-learn-at-home-during-coronavirus.test.js
Due: eslint --cache --fix

Thu 23, 1 out of 4
  content/remote-teaching/adapting-to-remote-education.slim
  content/remote-teaching/remote-education-practices-during-coronavirus.slim
  content/remote-teaching/supporting-pupils-wellbeing.slim
Due: bundle exec lint-staged

1.5 out of 4
  content/remote-teaching/case-studies/academy.gs
  content/remote-teaching/case-studies/supporting-primary-age-pupils-with-special-educational-needs-and-disabilities.gs
  content/remote-teaching/case-studies/supporting-primary-and-secondary-age pupils-wellbeing-at-a-multi-academy-Trust.gs
  content/remote-teaching/case-studies/supporting-primary-and-secondary-age-pupils-wellbeing-at-an-academy.gs
  content/remote-teaching/supporting-pupils-wellbeing.slim
Due: bundle exec lint-staged

Add test for Help children with SEND continue their education during coronavirus page
  cypress/integration/Help-children-with-send-learn-at-home-during-coronavirus.test.js
Due: eslint --cache --fix

2 & 2.5 out of 4
  content/remote-teaching/adapting-to-remote-education.slim
  content/remote-teaching/case-studies/adaptive-teaching-design.gs
  content/remote-teaching/case-studies/using-a-virtual-learning-environment.gs
  content/remote-teaching/case-studies/using-digital-teaching-tools.gs
  content/remote-teaching/case-studies/using-video-lessons.gs
Due: bundle exec lint-staged

3 & 4 out of 4
  content/remote-teaching/adapting-the-curriculum-for-remote-education.slim
  content/remote-teaching/case-studies/adapting-the-primary-school-curriculum.gs
  content/remote-teaching/case-studies/adapting-the-secondary-curriculum-across-multiple-subjects.gs
  content/remote-teaching/case-studies/adapting-the-secondary-geography-curriculum.gs
  content/remote-teaching/case-studies/adapting-the-secondary-science-curriculum.gs
  content/remote-teaching/case-studies/keeping-primary-and-secondary-age-pupils-motivated-and-engaged-at-a-distance.gs
  content/remote-teaching/case-studies/keeping-pupils-motivated-and-engaged-at-a-distance.gs
  content/remote-teaching/case-studies/supporting-engagement-in-learning-for-primary-age-pupils-when-direct-communication-is-limited.gs
  content/remote-teaching/keeping-pupils-motivated-and-engaged.slim
  content/remote-teaching/remote-education-practices-during-coronavirus.slim
Due: bundle exec lint-staged

Add case study layout and example content
  Rules
  content/case-studies/one.gs
  content/css/application.scss
  content/icons/coronavirus-arrow.svg
  layouts/case-study.slim
Due: bundle exec lint-staged

Pass filter options through to govspeak
  lib/filters/govspeak.rb
Due: bundle exec rubocop --fix-layout

Create using-video-lessons.gs
  content/teachers/using-video-lessons.gs
Due: none

Only generate toc entries for h2 and above
  Rules
Due: none

Update one.gs
  content/case-studies/one.gs
Due: none

Update case-study.slim
  layouts/case-study.slim
Due: bundle exec lint-staged

Reduce font size to match live TOC
  content/css/application.scss
Due: none

Add inital conntent for secondary
  content/supporting-your-childrens-education-during-coronavirus.gs
  content/supporting-your-childrens-education-during-coronavirus/help-secondary-school-children-continue-their-education-during-coronavirus.gs
Due: none

Update case study
  content/case-studies/one.gs
  layouts/case-study.slim
Due: bundle exec lint-staged

Path conditions:
  eslint --cache --fix: any of: *.js
  stylelint --fix: any of: *.css
  bundle exec rubocop --fix-layout: any of: *.rb
  bundle exec lint-staged: any of: *.slim
